#Adding comment
name: Deploy Static Website
on:
  push:
    branches: ["main"]
jobs:
  deploy:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps: 
    - name: Checkout
      uses: actions@checkout@v4
    - name: Display files
      run: ls
    - name: Deploy
      uses: peaceiris/actions-gh-pages@v4
      with:
        github_token: ${{secrets.github_token}}
        publish_dir: ./
